<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150447750-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150447750-2');
    </script>

    <meta charset="utf-8" />
    <title >covid19-data-quebec</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://www.chartjs.org/dist/2.7.2/Chart.bundle.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
</head>

<body>
  <!-- Main navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="color: #ffffff;">covid19-data-quebec</a>
      <a class="nav-link" href="https://pboardman.github.io/covid19-data-quebec/">Project info / API</a>
  </nav>

  <div class="row">
    <div class="col-6">
      <canvas id="canvasRegion"></canvas>
    </div>
    <div class="col-6">
      <canvas id="canvasTotal"></canvas>
    </div>
  </div>


  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-2">
    <a class="navbar-brand mx-auto" style="color: #ffffff;">Total cases by date</a>
  </nav>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Total case</th>
        <th scope="col">Total deaths</th>
        <th scope="col">Total recoveries</th>
      </tr>
    </thead>
    <tbody>
      {% for line in total %}
      <tr>
        <td>{{ line[0] }}</td>
        <td>{{ line[1] }}</td>
        <td>{{ line[2] }}</td>
        <td>{{ line[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-2">
    <a class="navbar-brand mx-auto" style="color: #ffffff;">Cases by region and by date</a>
  </nav>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Region</th>
        <th scope="col">New cases</th>
        <th scope="col">Total cases</th>
      </tr>
    </thead>
    <tbody>
      {% for line in regions %}
      <tr>
        <td>{{ line[1] }}</td>
        <td>{{ line[0] }}</td>
        <td>{{ line[2] }}</td>
        <td>{{ line[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->


</body>

<script>
  var color = Chart.helpers.color;
  var barChartDataRegion = {
    labels: {{ datasets_region["dates"]|safe }},
    datasets: [

      {% for region in datasets_region["regions"] %}
        {% set rgb = datasets_region["regions"][region]["color"].split(',') %}
      {
        label: "{{ datasets_region["regions"][region]["label"] }}",
        backgroundColor: color("rgb({{ rgb[0] }},{{ rgb[1] }},{{ rgb[2] }})").alpha(0.5).rgbString(),
        borderColor: "rgb({{ rgb[0] }},{{ rgb[1] }},{{ rgb[2] }})",
        fill: false,
        data: {{ datasets_region["regions"][region]["data"]|safe }}
      },

      {% endfor %}
      ]

  };


  var barChartDataTotal = {
    labels: {{ datasets_total["dates"]|safe }},
    datasets: [
      {
        label: "Total Cases",
        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
        borderColor: window.chartColors.blue,
        fill: false,
        data: {{ datasets_total["total_cases"]|safe }}
      },

      {
        label: "Total Deaths",
        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
        borderColor: window.chartColors.red,
        fill: false,
        data: {{ datasets_total["deaths"]|safe }}
      },

      {
        label: "Total Recoveries",
        backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
        borderColor: window.chartColors.green,
        fill: false,
        data: {{ datasets_total["recoveries"]|safe }}
      }
    ]

  };

  window.onload = function() {
    // Region Graph
    var ctx = document.getElementById('canvasRegion').getContext('2d');
    window.myBar = new Chart(ctx, {
      type: 'line',
      data: barChartDataRegion,
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
        },
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Total confirmed cases in Québec by region'
        }
      }
    });

    // Total graph
    var ctx = document.getElementById('canvasTotal').getContext('2d');
    window.myBar = new Chart(ctx, {
      type: 'line',
      data: barChartDataTotal,
      options: {
        scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
        },
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Total confirmed Cases, Deaths and Recoveries in the province of Québec'
        }
      }
    });
  };
</script>

</html>